.servicecard {
  margin: 10px 0 10px 0;
  box-shadow: 2px 4px 4px #888888;
  font-size: smaller;
}

.servicecard:active {
  background-color: black;
  color: white;
}

.noTrains {
  text-align: center;
  margin: 10px 0 10px 0;
}

@media all and (min-width: 768px) {
  .servicecard {
    font-size: medium;
  }
}

@media all and (max-width: 390px) {
  .servicecard {
    font-size: x-small;
  }
}